/* body {background: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/debut_dark.png);}
 */
body{margin:0;
 background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/rockywall.png);
background-size: auto;
background-repeat: repeat repeat;
font-family: "Open Sans","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
font-size: 16px;
line-height: 24px;
color: #333333;}
 footer {background: #fff}
#networkbar {margin-bottom: 20px;}

.hero-unit {
padding: 60px;
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 33px;
color: inherit;
background-color: #efefef;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 5px;
border:1px solid rgb(17, 38, 150);

}
/* .text-error {
color: rgb(255, 255, 255);} */

.hero-unit h1 {

margin-bottom: 0;
font-size: 47px;
line-height: 1;
color: inherit;
letter-spacing: -1px;
color: rgb(17, 38, 150);
text-shadow: 1px 1px 1px rgb(145, 139, 139);}

.hero-unit .lead{color: rgba(245, 245, 245, 0.85);} 
h1{color:#ec5a1e;}
.panel_body {
width: auto;
background-color: #fff;
border-color:#80708a;
border-style: solid;
border-width: 1px;
padding: 13px 14px;
word-wrap: break-word;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
min-height: 0;
margin-bottom: 20px;
}

.panel_head2 {

font-size: 18px;
line-height: 22px;
/* font-weight: 300; */
background-color: #80708a;
color:#fff;
;
border-color: #80708a;
border-style: solid;
border-width: 1px;
padding: 6px 11px 7px 14px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
/* margin-bottom:10px; */
}


h3{margin: -1px 0;}

.speaker-pic{text-align: center; margin-bottom: 10px;}
.seats{
  /* background: url("../img/hand.png") no-repeat bottom 0px right 240px; height: 87px;*/
font-size: 20px;
color: #80708a;
font-weight: bold;
margin-top: 20px;}


.column {
  float: right;
margin-left:20px;
}

.column h3 { font-size:14px;}
.twitter-sharelink {
  position: relative;
  display: inline-block;
  height: 16px;
  padding: 2px;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  font-weight: bold;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left     bottom,from(#FFF),to(#DEDEDE));
  background-image: -moz-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -o-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -ms-linear-gradient(top,#FFF,#DEDEDE);
  border: #CCC solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  line-height: 1.5;
}
.twitter-sharelink:hover  {
  border-color: #BBB;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#D9D9D9));
  background-image: -moz-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -o-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -ms-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: linear-gradient(top,#F8F8F8,#D9D9D9);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.twitter-sharelink .icon {
  position: absolute;
  width: 16px;
  height: 13px;
  top: 50%;
  left: 3px;
  margin-top: -6px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}
.twitter-sharelink .text {
  display: inline-block;
  padding: 1px 3px 0 20px;
}
.facebook-sharelink {
  position: relative;
  background: #ECEEF5;
  -webkit-border-radius: 3px;
  border: 1px solid #CAD4E7;
  cursor: pointer;
  padding: 3px 6px;
  white-space: nowrap;
  color: #3B5998;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.5;
}
.facebook-sharelink:hover {
  border-color: #9DACCE;
}
.facebook-sharelink .icon {
  position: absolute;
  background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y3/r/Q8FTZ0iJJF2.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-position: 0px 0px;
  top: 3px;
}
.facebook-sharelink .text {
  display: inline-block;
  padding: 2px 1px 0 18px;
}
.googlep-sharelink {
  background-color: #E4E4E4;
  background-image: -webkit-linear-gradient(top,#F4F4F4,#E4E4E4);
  background-image: linear-gradient(top,#F4F4F4,#E4E4E4);
  border: 1px solid #BABABA;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #ACACAC;
  color: #DA573B;
  text-shadow: 0 1px 3px rgba(255, 255, 255, .7);
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  font-size: 11px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  line-height: 1.5;

}
.googlep-sharelink:hover {
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2);
box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2);
background-color: #F4F4F4;
background-image: -webkit-linear-gradient(top,#FFF,#F4F4F4);
background-image: linear-gradient(top,#FFF,#F4F4F4);
}
.googlep-sharelink .icon {
  background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/plus-button-8acb339f3635cb33d1a6ec86ea74e7a2.png) -157px -36px;
  height: 14px;
  width: 14px;
  position: absolute;
  display: inline-block;
  left:0;
  top: 6px;
}
.googlep-sharelink .text {
  display: inline-block;
  padding: 2px 1px 0 13px;
}
.prerequisites > li{color:black; list-style-type: disc; font-weight: normal;}
.focus > li{color:black; list-style-type: disc; font-weight: normal;}
.content > .main-heading ul {margin-top:5px;}
.content > .main-heading{list-style-type: none; color:#ec5a1e; font-weight: bold;}
ul li {list-style-type: none; color:#ec5a1e; font-weight: bold;}
ul li span{color:black;}
 ul li ul li {list-style-type: disc; color:black; font-weight: normal; line-height: 26px;}
li.main-heading { margin-bottom: 15px;}
.contact-number{color: rgb(236, 136, 7);font-weight: bold;}
.add-margin {margin-bottom: 20px}
.margin-top{margin-top: 20px}
.social-networking{margin-top:17px;}
.extra-20pxtop-pad {padding-top: 40px;padding-bottom: 40px; padding-left:7px;}
.bottom{margin-top: 25px;}
.btn-info{background:#ec5c20;}
.btn-info:hover{background:#856991;}
h5{color: rgb(0, 0, 0);
font-weight: normal;}

@media (max-width: 767px)
body {
padding-left: 0;
padding-right: 0;
}